* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #f5f1ed;
}

body { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 0 auto;
	background-color: pink; 
	width: 80%;
}

/*	Code for overall list */

#nav_menu ul {
	
	list-style-type: none;		/* removes style */
	text-align: center;
	background-color: white;
	
}


#nav_menu ul li {
	
	margin: .5em;			/*pushes all around margins*/
	width: 125px;
	text-align: center;		/*centers link text*/
	
	
}

#nav_menu ul li a {
	
	
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
	border: 2px solid black;

}

#nav_menu ul ul {
	
	display: none;		/* removes display from sub list */
	
}

#nav_menu ul li:hover > ul {
	
	display: block;		/* Dsiplays sub list while being hovered */
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	
	background-color: #CCCCFF;

}

header { 
	text-align: center;  
}

main, footer {
	clear: both;
	text-align: center;
	padding: 1em;
}




